:root {
    --background: #f7f7f9;
    --header: #4338ca;
    --text: black;
    --divider: #e5e7eb;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: var(--background);
}

#app {
    min-height: 80vh;
    padding: 1rem;
}
@media (min-width: 768px){
    #app{
        padding: 2rem;
    }
}

.title-bar {
    /* "text-4xl font-extrabold text-indigo-700 mb-6 border-b pb-3" */
    font-size: 2.25rem;        /* text-4xl */
    line-height: 2.5rem;       /* text-4xl default line-height */
    font-weight: 800;          /* font-extrabold */
    color: var(--header);      /* text-indigo-700 */
    margin-bottom: 1.5rem;     /* mb-6 */
    border-bottom: 1px solid var(--divider); /* border-b (default gray-200) */
    padding-bottom: 0.75rem;   /* pb-3 */
}

.progress-bar {
    transition: width 0.5s ease-in-out;
}

.stat-bar {
    height: 1.5rem;
    border-radius: 0.5rem;
    overflow: hidden;
}

.stat-fill {
    height: 1.5rem;
    border-radius: 0.5rem;
    overflow: hidden;
    transition: width 0.5s;
}