
// ═══════════════════════════════════════════════════════════════════════════
//                          Job Offer Screen Styles
// ═══════════════════════════════════════════════════════════════════════════

h3 {
    white-space: pre-line;
}
p {
    white-space: pre-line;
}
button {
    border-color: white;
    border-width: 1px;
    border-radius: 5px;
}