
// ═══════════════════════════════════════════════════════════════════════════
//                          Job Offer Screen Styles
// ═══════════════════════════════════════════════════════════════════════════


button {
    border-color: white;
    border-width: 1px;
    border-radius: 5px;
}